<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>图片上传</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <style type="text/css">
        #box{
            width: 300px;
            height: 300px;
            border: 2px solid #858585;
        }
        #imgshow{
            width: 100%;
            height: 100%;
        }
        #pox{
            width: 70px;
            height: 24px;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui header teal item">管理后台</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right menu m-mobile-hide m-item">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/id/1005/100/100">
                            Curtis Cheng
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/images/upload}" class="teal active item">图片上传</a>
                <a href="#" th:href="@{/admin/images}" class="item">图片管理</a>
            </div>
        </div>
    </div>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big animated fadeIn">
        <div class="ui container">

            <!--操作提示-->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜你，操作成功！</p>
            </div>

            <form class="ui form" enctype="multipart/form-data" method="post" action="/admin/images/upload">
                <!--图片描述-->
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">图片描述</label>
                        <input type="text" id="description" name="description">
                    </div>
                </div>

                <!--图片上传-->
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">选择图片</label>
                        <input type="file" id="filed" name="file" accept="image/*">
                    </div>
                </div>

                <!--图片预览-->
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact basic label">图片预览</label>
                        <div class="ui small rounded bordered image">
                            <img id="imgshow" scr="#" alt="" title="" style="">
                        </div>
                    </div>
                </div>

                <!-- 表单校验不通过的信息 -->
                <!--<div class="ui negative message" :class="{hidden : msg.length === 0}" v-text="msg"></div>-->
                <div class="ui error message"></div>

                <!-- 返回、保存、发布按钮 -->
                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <!--<button type="button" class="ui teal button" :class="{disabled : isUpload}"-->
                            <!--@click="upload($event)">-->
                        <!--<span v-if="isUpload">上传中...</span>-->
                        <!--<span v-else>上传</span>-->
                    <!--</button>-->
                    <button class="ui teal submit button">上传</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--底部footer-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted segment vertical m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided inverted stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/WeChat.jpg" class="ui rounded image" style="width: 110px" alt="">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">关于刻意练习的清单</a>
                        <a href="#" class="item">失败要趁早</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:CurtisCheng992@163.com</a>
                        <a href="#" class="item">WeChat:ChengWindCheong</a>
                        <a href="#" class="item">QQ:981333949</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 Designed By Curtis</p>
        </div>

    </footer>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.dropdown').dropdown({
        on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click',function () {
            $(this)
                .closest('.message')
                .transition('fade');
    });

    $('.ui.form').form({
        fields : {
            description : {
                identifier : 'description',
                rules : [{
                    type : 'empty',
                    prompt : '请输入图片描述'
                }]
            },
            file : {
                identifier : 'file',
                rules : [{
                    type : 'empty',
                    prompt : '请选择图片'
                }]
            }
        }
    });

    //在input file内容改变的时候触发事件
    $('#filed').change(function(){
        //获取input file的files文件数组;
        //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
        //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
        var file = $('#filed').get(0).files[0];
        //创建用来读取此文件的对象
        var reader = new FileReader();
        //使用该对象读取file文件
        reader.readAsDataURL(file);
        //读取文件成功后执行的方法函数
        reader.onload=function(e){
            //读取成功后返回的一个参数e，整个的一个进度事件
            console.log(e);
            //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
            //的base64编码格式的地址
            $('#imgshow').get(0).src = e.target.result;
        }
    })

</script>
</body>
</html>